*
{
	margin					:	0;
	padding					:	0;
}

body
{
	display					:	grid;
	grid-template-areas		:	". header ."
								". main ."
								". footer .";
	grid-template-columns	:	1fr 12fr 1fr;
	grid-template-rows		:	auto;
}

main
{
	box-shadow				:	0.8rem 0.8rem 1.2rem #cbced1, -0.8rem -0.8rem 1.2rem white;
	display					:	grid;
	grid-template-areas		:	"guide form";
	grid-template-columns	:	3fr 9fr;
	grid-template-rows		:	auto;
}

main .guide, main form
{
	align-items				:	center;
	justify-content			:	center;
}